@import url('https://fonts.googleapis.com/css2?family=Besley&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}


button {
    background-color: transparent;
    padding: 10px;
    margin: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.clock-container button {
    margin: 10px;
}

.App-header {
    background-color: #22333b;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.body {
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container {
    margin: -50px 20px 20px;
}

.timer-container h2 {
    margin: 0;
}


.actions-wrapper {

}


.actions-wrapper span {
    font-size: 40px;
    margin: 15px;
    width: 50px;
}

.clock-container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px ;
    display: inline-block;
    margin-top: 30px;
    width: 350px;
}

.clock-container span {
    font-size: 60px;
}

.clock-container h1 {
    margin: 0;
}